h1 {
    color: rebeccapurple;
    text-align: center;
    font-size: 50px;
}

div {
    margin-bottom: 50px;
    background-color: azure;
    padding: 50px;
}

.post-one {
    background-color: aquamarine;
}

.post-two {
    background-color: bisque;
}

h2 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 36px;
}

img {
    display: block;
    margin: auto;

    width: 50%;
    margin-bottom: 25px;
}

p {
    color: green;
    text-align: center;
    font-size: 24px;
}

/* 
    Задача. 1. задать размер заголовков статей 36px
            2. задать размер текстов статей 24px

    Задача. 1. сделать отступ между заголовком статьи и картинкой в размере 30px.
            2. сделать отступ между картинкой и текстом статьи в размере 25px.

    margin - внешний отступ.
        1. margin-top. сверху
        2. margin-right. справа 
        3. margin-bottom. снизу
        4. margin-left. слева

    padding - внутренний отступ
        1. padding-top. сверху
        2. padding-right. справа 
        3. padding-bottom. снизу
        4. padding-left. слева

    h2, h3, h4, h5, h6 {
        свойства будут применяться для всех заголовков указанных через запятую
    }

    Задача. выровнять по центру все заголовки статей

    единицы измерения в css
    1. абсолютные
        px, em, rem, cm
    2. относительные
        %, vh, vw
    
    чаще используются %, потому что при изменении экрана сохраняются пропорции

    Задача. Поменять цвет текста тега p на зеленый;

    ctrl + / - создать комментарий

    селектор {
        свойство: значение;
    }

    селектор - выбор элемента из html, который вы хотите поменять
    свойство - характеристика, которую вы хотите поменять
    значение - опция, на которую мы хотим поменять свойство

        виды селекторов:
        1. по тегу - h1
        2. по классу - .post-1


    ДЗ. подготовить 8 картинок на одинаковую тему и назвать img-1, img-2 ... img-8
*/