* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  /* отменяем нижнее подчеркивание у ссылок */
}

header {
  background-color: #1ABC9C;
  padding: 15px 0;
  /* отступы сверху/снизу */
}

.wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style: none;
  /* сброс маркера у элементов списка */
  display: flex;
}

li:not(:last-child) {
  margin-right: 20px;
}

.nav-link {
  font-size: 25px;
  color: black;
}

.social-link:not(:last-child) {
  margin-right: 20px;
}

/* about */
.about {
  display: flex;
  align-items: center;
}

.about-img {
  width: 50%;
}

.about-info {
  width: 50%;
}

h1 {
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 35px;
}

.about-descr {
  padding: 0 65px;
  font-size: 20px;
  text-align: justify;
}


/* ========== Наши проекты ========== */

.projects {
  background-color: #DCFFEB;
  padding: 125px 0;
}

.projects-wrapper {
  width: 90%;
  margin: auto;
}

h2 {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
}

.projects-list {
  display: flex;
  gap: 40px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: end;

  width: 33%;
  aspect-ratio: 436/376;
  /* соотношение сторон картинки */

  background-image: url(./images/rectangle.png);
  background-size: 100%;
}

.project-hover {
  background-color: rgba(0, 0, 0, 0.38);
  color: #fff;
  padding: 30px 35px 15px;

  opacity: 0;
  /* opacity - прозрачность. 0 - блок полностью прозрачный
  visibility: hidden; - блок невидимый -- display: none; 
  */
  transition: 1s;
}

.project:hover .project-hover {
  opacity: 1;
  /* делаем блок обратно непрозрачным */
}

h5 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500px;
  font-family: 'Oswald', sans-serif;
}

.project-hover-text {
  font-family: 'Open Sans', sans-serif;
}

footer {
  padding: 80px 0;
  /* 80px - сверху/снизу, 0 - справа/слева */
}

.footer-wrapper {
  width: 90%;
  margin: auto;
}

h3 {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 55px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  width: 315px;
}

.footer-item img {
  display: block;
  /* делаем картинку блочной, чтобы разместить по центру */
  margin: auto;
}

h4 {
  margin-top: 10px;
  color: #999;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 500;

}

.footer-text {
  margin-top: 25px;
  color: #000;
  text-align: center;

  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.footer-link {
  display: block;
  color: #000;
}

.orange-text {
  color: #F7654A;
}

/* 
font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;


.project:not(last-child) {
  margin-right: 40px;
}
*/




/* 

text-align: justify; - выравнивание по ширине

    header li:not(:last-child), header a:not(:last-child) {
        margin-right: 20px;
    }

    Задача. добавить отступы между картинками социальных иконок

    h1
    font-size 32-36px;
    font-weight: 600;

    p, a, div
    font-size: 16px
    font-weight: 400
    font-style: normal
    line-height: normal    


    :first-child - первый дочерний элемент
    :last-child - последний дочерний элемент

    :not() - отрицание, инверсия

    Задача. Позиционировать блоки в header в одну строку равноудаленно друг от друга

    list-style: 
        a) list-style-type - тип маркера
        б) list-style-pos - 
        в) list-style-image -

        background: red;

        background:
         a) background-image
         б) background-size
         в) background-position
         г) background-repeat

         background:  url("./img1.jpg") cover center no-repeat;
*/